/* Use this file to use your own styles*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Montserrat:wght@100&display=swap');
/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #F31398;
	background-color: #F291D7;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color:#FFC3F7;
}

.resume-main {
	background-color: #FFC3F7;
}

.resume-aside {
	background-color: #FFC3F7;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #F291D7;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.fw-bolder {font-family: 'Montserrat', sans-serif;}

.language-progress {background-color: #F094CE !important} 

h2 {font-family: 'Montserrat', sans-serif;}
h4  {font-family: 'Montserrat', sans-serif;}

#mydiv{
	color: deepskyblue;
}

#mydiv2{
	color:deepskyblue
}


#mydiv3{
	color:deepskyblue
}

#mydiv4{color:deepskyblue}
#mydiv5{color:deepskyblue}

#mydiv6{color:deepskyblue}

.white-text{color:deepskyblue}



